<td id="logo_principal">
	<%= link_to (image_tag 'logotipo_2.png'), root_path %>
</td>
<td>
	<%= image_tag 'otros/separador.png'%>
</td>
<td>
	<label>Un proyecto de <%= link_to 'Elige Educar', "http://www.eligeeducar.cl/" %></label>
</td>
