<td id="logo_principal">
	<%= image_tag 'logotipo_2.png' %>
</td>
<td>
	<%= image_tag 'otros/separador.png'%>
</td>
<td>
	<label>Un proyecto de <%= link_to 'Elige Educar', "https://www.eligeeducar.cl" %></label>
</td>