<div class="full">
	<h3>Nuevas secciones:</h3>
</div>

<div class="full">
	<%= link_to 'Orientación', home_material_path(9) %>
</div>
<div class="full">
	<%= link_to 'Proyectos', home_material_path(10) %>
</div>