<div class="full" id="info_div">
	<div class="section-content">
		<div class="full">
			<div class="span30" id="site_categories">
				<div class="padder">
					<%= render 'site_categories' %>
				</div>
			</div>
			<div class="span60" id="resource">
				<div class="padder">
					<%= yield %>			
				</div>
			</div>	
		</div>
	</div>
</div>

