<div class="full" id="slide_show">
	<div class="full slide" id="slide_1">
		<%= image_tag 'slide/1.jpg' %>
	</div>
	<div class="full slide" id="slide_2">
		<%= image_tag 'slide/2.jpg' %>
	</div>
	<div class="full slide" id="slide_3">
		<%= image_tag 'slide/3.jpg' %>
	</div>
</div>