<td class="logo_social"><%= link_to (image_tag 'social/facebook.png'), "https://www.facebook.com/pages/eligeeducar/185747833736?ref=ts&fref=ts" %></td>
<td class="logo_social"><%= link_to (image_tag 'social/twitter.png'), "https://twitter.com/eligeeducar" %></td>
<td class="logo_social"><%= link_to (image_tag 'social/sobre2.png'), home_contact_path %></td>