<div class="full" >
	<div class="section-content full">
		<div class="full">
			<h3>Sobre el proyecto</h3>

			<p>
				El proyecto de incorporación curricular de valoración docente es una idea de Elige Educar, quién
				desde el año 2009 tiene como premisa resaltar a nivel de sociedad el valioso aporte que día a día 
				realizan los profesionales de la educación por el futuro de nuestro país.
			</p>

			<p>
				Desde esa fecha la fundación ha realizado diversas iniciativas con fines informativos y 
				comunicacionales, produciendo materiales gráficos y audiovisuales, asumiendo progresivamente 
				un rol positivo y propositivo para una nueva visión sobre la pedagogía en Chile, lo que se traduce 
				en apariciones en prensa para instalar en la opinión publica temas relacionados a la docencia.
			</p>
			
			<p>
				Por esta razón, InCuVa trata de poner a disposición de los docentes todo este material, pero 
				para que pueda ser utilizado como recurso pedagógico. De esta manera, su uso va orientado a 
				aportar a conseguir parcialmente el logro de los objetivos de aprendizaje propios del curriculum 
				prescrito, a través de un portal educativo que contenga este contenido clasificado por Asignatura 
				y nivel, además de la naturaleza del recurso (videos, spots, columnas de opinión, noticias, cartas al 
				editor…etc.)
			</p>
			<p>
				Durante el año 2014 se proyecta consolidar una fase de validación, lanzándose recursos 
				descargables orientados a las asignaturas de Lenguaje, Matemáticas, Historia, geografía y Ciencias 
				Sociales, y Filosofia, desde 7° básico hasta IV medio. Y para el año 2015 se intentará ampliar a 
				otras asignaturas y a impactar a todos los niveles de enseñanza, desde Pre Kínder en adelante.
			</p>
		</div>
	</div>
</div>