<div class="full">
<%= form_tag({action: :contact_admin}) do %>
	<table>
		<tr>
			<td><%= text_field_tag 'asunto','Asunto', required: true %></td>
		</tr>
		<tr>
			<td><%= text_field_tag 'asunto','Mensaje', required: true %></td>
		</tr>
		<tr>
			<td><%= submit_tag 'Enviar' %></td>
		</tr>
	</table>

<% end %>
</div>

<div class="full">
	<img src="http://open.thumbshots.org/image.aspx?url=http://www.google.com/" id="example"/>
</div>