<div class="full">
	<div class="full">
		<h3>Noticias:</h3>
	</div>
	<div class="full">
		<table class="full">
			<% Notice.all.order(:created_at).reverse.take(5).each do |n| %>
				<%= render 'layouts/notice' , locals: { notice_id: n.id }%>
			<% end %>
		</table>
	</div>

	<% if current_member.is_admin %>
		<%= link_to 'Nueva noticia', new_notice_path %>
	<% end %>
</div>