<div class="full" id="info_div">
	<div class="section-content">
		<div class="full">
			<h2>Sé parte</h2>

			<p>
				Para ser parte de este proyecto solo necesitas registrarte en la pantalla de inicio e ingresar.
				Queremos que conozcas nuestro material y que lo descargues libremente para usarlo en tus
				clases. Encontraras fichas temáticas por asignatura y nivel, las que puedes contextualizar a 
				tu realidad escolar y sacarle el provecho que estimes pertinente para conseguir objetivos de 
				aprendizaje, y además instalar la reflexión acerca de la importancia del rol docente en nuestra 
				sociedad.
			</p>

			<p>
				También podrás revisar una amplia gama de recursos categorizados por su naturaleza, tales como 
				infografías, cartas al director, columnas de opinión, estudios, noticias, spots, presentaciones, 
				audios, que también están a tu disposición en caso de que quieras generar tu propio material. Del 
				mismo modo, si quieres compartir tu material a través del portal, lo puedes hacer y así contribuyes 
				a que desde la sala de clases se aporte a mejorar la valoración docente.
			</p>
			
			<p>
				En la página de inicio encontrarás noticias asociadas a los materiales nuevos que subiremos,
				y al uso que le están dando docentes de todo Chile. Si quieres compartir efectos de tus clases 
				utilizando el recurso InCuVa, escríbenos a fsaez@eligeeducar.cl y lo iremos publicando, para que 
				otros docentes se motiven al igual que tú.
			</p>
			<p>
				Por último, tu registro es clave para descargar el material, y además, nos permitirá enviarte
				periódicamente información relevante a tu correo electrónico.
				Bienvenido a InCuVa, y ayúdanos mejorar la valoración social docente a través del currículum, y 
				hacia la comunidad.
			</p>
		</div>
	</div>
</div>