<div class="full" id="info_div">
	<div class="section-content">
		<div class="full">
			<h2>Equipo InCuVa</h2>

			<p>
				Les presentamos el equipo InCuVa que desarrollado esta iniciativa.
			</p>

			<p>
				Equipo Ejecutivo Elige Educar: Equipo multidisciplinario que desde el 2009 trabaja para aumentar 
				la valoración social docente, atraer y acompañar a jóvenes interesados en carreras de educación, e 
				impulsar políticas públicas para mejorar las condiciones en que se ejerce la pedagogía en Chile.
			</p>
			

			<h3>Equipo:</h3>
			<table id="our_team_table">
				<tr>
					<td>Fenando Sáez:</td>
					<td>Coordinador proyecto InCuVa</td>
					<td>Profesor de Educación General Básica, mención en ciencias sociales. Magíster (c)
				en Educación, mención Currículum Escolar PUC. Asesor de Intervenciones de Elige Educar.</td>
				</tr>

				<tr>
					<td>Constanza Carmi</td>
					<td>Diseñadora web</td>
					<td>Periodista, Magíster (c) en Diseño Avanzado PUC. Community Manager y diseñadora de Elige Educar.</td>
				</tr>
				<tr>
					<td>Felipe Rodríguez</td>
					<td>Autor plataforma web</td>
					<td>Estudiante Ingeniería Civil PUC</td>
				</tr>

			</table>

			<h3>Profesores:</h3>
			<table id="our_team_table">
				<tr>
					<td>Rocío Zuñiga</td>
					<td>Lenguaje y comunicación</td>
				</tr>
				<tr>
					<td>Catalina García</td>
					<td>Lenguaje y comunicación</td>
				</tr>
				<tr>
					<td>Gabriela Rodríguez</td>
					<td>Matemáticas, educación media</td>
				</tr>
				<tr>
					<td>Catalina Padilla</td>
					<td>Historia, geografía y ciencias sociales</td>
				</tr>
				<tr>
					<td>Bernardo Bello</td>
					<td>Historia, geografía y ciencias sociales</td>
				</tr>
				<tr>
					<td>Karina Fuenzalida</td>
					<td>Filosofía</td>
				</tr>

			</table>
		</div>
	</div>
</div>