
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #15767D;
	margin: 0px;
	/*width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: 20px solid black;*/
}
a{
	text-decoration: none;	
	color: #494;
}

div{
	float: left;
}
a:hover{
	color: #E6E615;
}

input{
	border-radius: 5px;
	padding: 3px;
	border: 1px solid #999999;
}
h2, h3, h4, h5{
	color: 444;
}
#registration_title{
	text-align: center;
	font-size: 40px;
}
h2{
	margin-top: 0px;
}

.full{
	width: 100%;
	float: left;
}
.header-title{
	color: white;
	background: url("/assets/title-background.jpg");
	/*background: url("logo_fondo_pizarra.jpg");*/
	/*margin-top: 80px;*/
}
#website-title{
	color: peru;
}
#title-image{
	width: 350px;
}


.padder{
	padding: 20px;
	padding-bottom: 20px;
	float: left;
}
.left{
	float: left;
}
.level{
	padding-left: 10px;
	width: 100%;
}
.always-on-top{
	/*position: fixed;*/
	top: 0px;
	height: 80px;
	left: 0;
	background-color: cadetblue;
	color: white;
}
.always-on-top img{
	width:80px;
	height: 80px;
}
.right{
	float: right;
}

.top-menu-form{
	float: right;
}
.top-menu-form-item{
	width: 300px;
	float: left;
	margin-left:5px;
	background-color: green;
	height: 60px;
}

#footer{
	background-color: #444;
}

#to-website-subtitle a:hover{
	color: #E6E615;
}

h1{
	font-size: 100px;
}
.small-padder{
	padding: 5px;
}

.span30{
	width: 30%;
}
.span40{
	width: 40%;
}
.span70{
	width: 70%;
}
.gray-outlined{
	outline: 1px solid #999999;
}
.span80{
	width: 80%;
}
.span20{
	width: 20%;
}
.span90{
	width: 90%;
}
.span10{
	width: 10%;
}
.content-1{
	background-color: azure;
	min-height: 400px;
}
.nav-level-1{
	padding: 5px;
	color: #444;
	font-weight: bold;
}
.little-img-container img{
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
.nav-level{
	padding: 20;
	cursor: pointer;
}
.nav-level:hover{
	color: #D63131;
}
.nav-level:hover a{
	color: #D63131;
}
#resource{
	/*height: 600px;*/
}
#resource .div_option{
	background-color: antiquewhite;
	border-radius: 20px;
	margin-top: 10px;
}
#resource .article_option{
	margin-top: 10px;
}
#resource .article_option h3{
	margin: 0px;
}
#resource .article_option .image-container{
	width: 20px;
	height: 20px;
}
#resource .resource_option{
	margin-right: 10px;
	margin-left: 10px;
}
img{
	width: 100%;
}
#resources-menu-left{
	/*height: 1000px;*/
}
.resource_option:hover{
	color: #D63131;
}
#resources-menu-right{
}
#new-content-form{
	width: 400px;
}

#new-content-form .f-form-label{
	width: 100px;
}
.content_row:hover{
	background-color: azure;
}


h2{
	font-size: 40px;
}
.section{
	border-bottom: 1px solid #B5B5B5;
	padding-top: 10px;
	padding-bottom: 10px;
}
.container-1{
	color: #444;
}
.med-img img{
	width: 100px;
	height: 100px;
	float: left;
}
.delete-icon-div{
	opacity: 0.6;
 }
.delete-icon-div:hover{
	opacity: 1;
 }

.large-image-container{
	width: 60px;
	height: 60px;
}
.large-image-container img{
	float: left;
}

.option {
	cursor: pointer;
}
.resource_option{
	max-width: 80%;
	/*margin-left: 40px;*/
}
.resource_option:hover{
	color: #E6E615;
}
.left-menu-option{
	max-width: 250px;
}
.option:hover{
	color: #E6E615;
}
.separator{
	width: 100%;
	float: left;
	height: 20px;
}
.login-form{
	float: right;
	height: 60px;
	width: 300px;
}
#login-div a{
	color: white;
}
#login-inputs{
	width: 200px;
	height: 60px;

}
#login-submit{
	width: 100px;
	height: 60px;
}
.login-first-item{
	height: 30px;
	width: 200px;
}

/*tablas*/
.index{
	text-align: left;
	font-weight: bold;
}
table .icon{
	width: 30px;
}

#secondary_info{
	background: url("title-background.jpg");
}
#secondary_info #title{
	color: white;
}
#secondary_info #subtitle{
	color: darkorange;
}
#secondary_info #bullet{
	color: deepskyblue;
}
#secondary_info img{
	width: 100%;
}

.f-form-label{
	text-align: right;
	width: 50%;
	padding-top: 5px;
}
.f-form-label span{
	margin-right: 5px;
}
.f-form-input{
	width: 50%;
}
.right-align{
	text-align: right;
}

.bottom{
	bottom: 0px;
}

.table-1 tr{
	font-size: 14px;
}


/*registro*/
#registration-full-div{
	width: 70%;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.fullscreen{
	position: absolute;
	width: 100%;
	height: 100%;
}