#alerts-notices{
	text-align: center;
	position: fixed;
	background-color: #444;
	font-weight: bold;
	margin-bottom: 50px;
}
#notice{
	color: greenyellow;
}
#alert{
	color: red;
}
.notice-alert{
	padding-top: 10px;
	padding-bottom: 10px;
}