<p>Bienvenido a InCuVa <%= @email %>!</p>

<p>Solo te falta un paso más para poder ser uno de nuestros miembros oficiales.</p>
<p>Debes hacer click en el siguiente link para confirmar tu cuenta de Login:</p>

<p><%= link_to 'Confirmar cuenta', confirmation_url(@resource, :confirmation_token => @token) %></p>
