<div class="full" id="info_div">
	<div class="span30 left content-1 same-height" id="resources-menu-left">
		<div class="padder non-floater">
			<div class="content-1">
				<!-- categories -->
				<div class="full" id="site_categories">
					<%= render 'site_categories' %>
				</div>
			</div>
		</div>
	</div>
	<div class="span70 left content-2 same-height" id="resources-menu-right">
		<div class="padder non-floater">
			<div id="resource">
				<%= render 'layouts/resource_welcome'%>
			</div>
		</div>
	</div>	
</div>
