<div class="full" id="alerts-notices">
	<% if notice %>
	<div class="full notice-alert" id="notice">
		<%= notice %>
	</div>
	<% end %>
	<% if alert %>
	<div class="full notice-alert" id="alert">
		<%= alert %>
	</div>
	<% end %>
</div>