<div class="span60">
	<div class="full">
		<div class="padder non-floater">
			<div class="full">
				<div id="title-image" class="centered">
					<%= image_tag('logo-Incuva-horizontal.png') %>
				</div> 
			</div>
			<h2 id="to-website-subtitle">Un proyecto de <%= link_to 'Elige Educar', 'http://www.eligeeducar.cl' , :target => "_blank"%></h2>
		</div>
	</div>
</div>