<div class="container-1 full">
	<div class="full section-1 med-img">
		<h2>Escoge una asignatura!</h2>
	</div>
	<div class="full" id="notices">
		<table class="full" id="notice-table">
			<% Notice.all.order(:created_at).reverse.take(5).each do |n| %>
				<%= render 'layouts/notice' , locals: { notice_id: n.id }%>
			<% end %>
		</table>
	</div>

	<% if current_member.is_admin %>
		<%= render 'layouts/new_notice_form' %>
	<% end %>
</div>