<div class="container-1 full">
	<div class="full section med-img">
		<h2>Escoge una asignatura!</h2>
	</div>
	<% Notice.all.order(:created_at).reverse.each do |n| %>
		<%= render 'layouts/notice' , locals: { notice_id: n.id }%>
	<% end %>

	<% if current_member.is_admin %>
		<%= render 'layouts/new_notice_form' %>
	<% end %>
</div>