<div class="full" id="secondary_info">
	<div class="span70">
		<div class="padder">
			<h2 id="title">¿Por qué debería registrarme?</h2>
			<h3 id="subtitle">
				INCUVA es un proyecto que busca proveer gratuitamente material de calidad a todo profesor en cualquier lugar de Chile.
				<br>
				<br>
				Al registrarte podrás:
			</h3>	
			<h4 id="bullet">> Calificar el material descargado.</h4>
			<h4 id="bullet">> Subir material que creas un aporte.</h4>
			<h4 id="bullet">> Suscribirte, solo si lo deseas, a alguna materia o curso para recibir el material nuevo por correo.</h4>
			<h4 id="bullet">> Enviarnos reclamos, sugerencias u observaciones que estimes pertinentes.</h4>
			<h3>¡Esto es un trabajo en equipo!</h3>
		</div>
	</div>
	<div class="span30">
		<div class="padder">
			<%= image_tag("team-work.png")%>
		</div>
	</div>
</div>