<div class="span20" id="session">
	<div class="full">
		<div class="small-padder non-floater">
			<b><%= current_member.f_name %></b>
		</div>
	</div>
	<div class="full">
		<div class="small-padder non-floater">
			<b><%= current_member.email %></b>
		</div>
	</div>
	<div class="full">
		<div class="small-padder non-floater">
			<%= link_to "Log out", destroy_member_session_path, :method => :delete  %>
		</div>
	</div>
</div>