<div class="span20" id="session">
	<table>
		<tr>
			<td><b><%= current_member.f_name %></b></td>
		</tr>
		<tr>
			<td><b><%= current_member.email %></b></td>
		</tr>
		<tr>
			<td><%= link_to "Log out", destroy_member_session_path, :method => :delete  %></td>
		</tr>
	</table>
</div>