<div class="full bs-section first-full">
	<div class="section-content">
		
		<!-- menu -->
		<div class="full">
			<%= render 'layouts/social'%>
			<%= render 'layouts/principal_image'%>
			<%= render 'layouts/session'%>
  			<%= render 'layouts/menu_bar_2' %>
		</div>
	</div>
</div>